:root {
  --input-color-font: #000;
  --input-color-border: #459DF5;
  --input-color-placeholder: #459DF5;
  --input-color-border-error: #F53152;
  --input-background-color-lock: #BAD8F5;
}
body{
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

/* временная обертка  */
.button-wrapper {
  width: 600px;
  margin: 0 auto;
  border: 1px dashed #8055FF;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-block{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
.button-block_last{
  height: 100px;
}
.button-column_last{
  align-self: self-start;
}
/* временная обертка  */

.button__item{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: #FFF;
  margin-bottom: 1rem;
}
.button__item:hover{
  box-shadow: 0px 2px 5px 2px #BAD8F5;
}
.button__img{
  width: 1.25rem;
  height: 1.25rem;
}
.button__text{
  font-size: 13px;
  display: block;
  padding-left: 0.25rem;
}
.button_full-huge{
  background-color: #459DF5;
  padding: 0.5rem 1.25rem 0.5rem 1rem;
  color: #FFF;
}
.button_full-huge-img {
  background-color: #459DF5;
  padding: 0.5rem;
}
.button_full-small {
  background-color: #459DF5;
  padding: 0.25rem 0.8rem 0.25rem 0.5rem;
  color: #FFF;
}
.button_full-smale-img {
  background-color: #459DF5;
  padding: 0.25rem;
}
.button_empty-huge {
  padding: 0.5rem 1.25rem 0.5rem 1rem;
  color: #459DF5;
}
.button_empty-huge-img{
  padding: 0.5rem;
}
.button_empty-small{
  padding: 0.25rem 0.8rem 0.25rem 0.5rem;
  color: #459DF5;
}
.button_empty-small-img {
  padding: 0.25rem;
}

.button_empty-huge-text {
  padding: 0.5rem 1.25rem 0.5rem 1rem;
  color: #000;
}
.button_empty-huge-text:hover{
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}