:root{
  --background-body: #E5E5E5;
  --wrapper-font-color: #8055FF;
}
body {
  background-color: var(--background-body);
}
.wrapper{
  display: flex;
}
.wrapper-input,
.searchbar-wrapper,
.radio-wrapper,
.checkbox-wrapper {
  margin: 30px;
}
