:root{
  --int_cl:#000;
  --int_br:#459DF5;
  --int_plhol_cl:#459DF5;
  --int_error_br:#F53152;
  --int_lock_bg:#BAD8F5;
}
/* временная обертка  */
.wrapper{
  width: 350px;
  height: 400px;
  margin: 0 auto;
  border: 1px dashed #8055FF;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* временная обертка  */

.input__label {
  display: block;
  margin-bottom: 0.5rem;
}
.input-items{
    position: relative;
}
.input-items__item {
  width: 256px;
  height: 2rem;
  border: 1px solid var(--int_br);
  color: var(--int_cl);
  border-radius: 4px;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  font-size: 13px;
  outline-width: 0;
}
.input-items__item::placeholder {
  color: var(--int_plhol_cl);
}
.input-items__img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.input-items__item-error {
  border: 1px solid var(--int_error_br);
}
.input-items__item-lock{
  background-color: var(--int_lock_bg);
}
